<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @animal.common_name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
<br>
<br>

<table id="sighting_table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Region</th>
      <th>Animal</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @animal.sightings.each do |sighting| %>
      <tr>
        <td><%= sighting.date %></td>
        <td><%= sighting.time.to_s(:time) %></td>
        <td><%= sighting.latitude %></td>
        <td><%= sighting.longitude %></td>
        <td><%= sighting.region %></td>
        <td><%= sighting.animal.common_name %></td>
        <td><%= link_to 'Edit', edit_sighting_path(sighting) %></td>
        <td><%= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>

<p>
  <!-- Input area for new wine -->
  <form id="new_sighting_form">
    <div class="field">
      <label for="date">Date</label><br>
      <input type="date" name="sighting[date]" id="date" />
    </div>
    <div class="field">
      <label for="time">Time</label><br>
      <input type="time" name="sighting[time]" id="time" />
    </div>
    <div class="field">
      <label for="latitude">Latitude</label><br>
      <input type="latitude" name="sighting[latitude]" id="latitude" />
    </div>
    <div class="field">
      <label for="longitude">Longitude</label><br>
      <input type="longitude" name="sighting[longitude]" id="longitude" />
    </div>
    <div class="field">
      <label for="region">Region</label><br>
      <select id="region" name="animal[region]">
        <option value="Select" selected="selected">Select</option>
        <option value="North">North</option>
        <option value="South">South</option>
        <option value="East">East</option>
        <option value="West">West</option>
      </select>
    </div>
    <input type="hidden" name="sighting[animal_id]" id="animal_id" value="<%=@animal.id%>">
    <button id="add_new_sighting_button">Add New Sighting</button>
  </form>
</p>

<%= link_to 'New Sighting', new_sighting_path(:animal => @animal.id) %>
